RewriteEngine On

# If the request is NOT a real file
RewriteCond %{REQUEST_FILENAME} !-f

# And NOT a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Send EVERYTHING to index.php
RewriteRule ^.*$ index.php [L,QSA]
