<h1>Register</h1>
<form id="register-form">
  <div class="mb-3">
    <label for="reg-name" class="form-label">Name</label>
    <input type="text" class="form-control" id="reg-name" placeholder="Your Name" required>
  </div>
  <div class="mb-3">
    <label for="reg-email" class="form-label">Email</label>
    <input type="email" class="form-control" id="reg-email" placeholder="you@example.com" required>
  </div>
  <div class="mb-3">
    <label for="reg-password" class="form-label">Password</label>
    <input type="password" class="form-control" id="reg-password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-success">Register</button>
</form>
